
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cookie</title>
</head>
<body>
    <div>
        @ViewBag.User
        @ViewBag.Message
    </div>
</body>
</html>
